body {
  background-color: #80A383;
}

h1 {
  color: #D6DBDB;
  text-align: center;
}

.well {
  background-color: silver;
}


i{
  color: white;
}

a {
  color: #7994AD;
}

a:hover {
  text-decoration: none;
}

.btn {
  color: #2D2B0D;
  background-color: #D6DBDB;
}

.btn:hover {
  color: #2D2B0D;
  background-color: #7994AD;
}

.name {
  font-weight: bold;
}

#bigWell {
  background-color: #2A795B;
  border: none;
}

.search_result {
  font-size: 24px;
  color: #386d9c;
}

.search_result:hover {
  border-left: thick solid #061539;
  background-color: #E8E8E8;
  color: #386d9c;
}

input{
  
}
